a {
	color: #17a2b8;
}

h1 {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
}

h2 {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
}

h3 {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
}

h4 {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
}

h5 {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
}

h6 {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
}

p {
	font-family: Garamond; 
	color: rgba(79,79,79,.91);
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
}

ul li, ol li {
	color: rgba(79,79,79,.91);
    line-height: 180%;
}

#footer {
	background-color: #d9e2e1;
	padding: 20px 20px 30px 20px;
}

#footer p {
	color: rgba(79, 79, 79, 0.91);
}

#homepage-top-banner {
	font-family: Montserrat,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	top: 0px;
}

#homepage-top-banner a {
	color: rgba(79,79,79,.91);
}

@media (min-width: 765px) {
	#homepage-top-banner a {
		letter-spacing: 2px;
		padding-left: 2px;
		padding-right: 2px;
	}
}

.full-images-banner {
	width: 100.3%;
}

.full-images-banner .image-div {
	display: inline-block;
	height: 400px;
	margin: 0px;
	padding: 0px;
	width: 24.6%;
}

@media (max-width: 1045px) {
	.full-images-banner .image-div {
		height: 450px;
		width: 49.4%;
	}
}

@media (max-width: 650px) {
	.full-images-banner .image-div {
		height: 350px;
	}
}

.package-details {
	max-width: 500px;
}
